.cardContainer {
  margin: 10px;
}

.card {
  position: relative;
  padding: 10px;
  width: 340px;
  height: 460px;
  background-image: linear-gradient(to bottom left, #21254e, #565fba);
  box-shadow: 5px 6px 10px #161836;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}

.cardContainer:hover .card {
  transform: rotateY(180deg);
}

.front {
  background-color: #292e62;
}

.back {
  background-image: linear-gradient(to bottom right, #21254e, #565fba);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 4px;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  margin-top: 6px;
  margin-left: 6px;
  width: 97%;
  height: 97.5%;
}

.information {
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  padding: 10px;
  height: 90px;
  bottom: 0;
  color: #fff;
}

.title {
  display: flex;
  color: white;
  overflow: auto;
}

.rating {
  position: absolute;
  box-sizing: border-box;
  width: 35px;
  height: 30px;
  color: orange;
  text-align: center;
  background-color: #292e62;
  box-shadow: 1px 1px 15px 2px orange;
  border-radius: 8px;
  top: 3.5%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back h2 {
  margin-top: 2.5rem;
  top: 5%;
  right: 20%;
  font-size: 2rem;
  color: white;
}

.back h3 {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5rem;
  color: white;
}

.crewContainer {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
}

.crew {
    margin: 0;
  font-size: 1rem;
  color: white;
}

.crewText {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
